<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Garrek.org</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/styles.css">
  {% include 'head.liquid' %}
</head>
<body class="wrapper">
{% include 'navigation.liquid' %}

<main>

    {{ content }}

</main>

{% include 'footer.liquid' %}
