---
layout: layouts/default.liquid
---

<div class="page-title">
    <h2>{{ title }}</h2>
    <h6 class="dateline">{{ date | date: '%A, %B %d %Y' }}<a class="permalinkanchor" title="Permalink" href="{{ page.url }}">&emsp;⚓︎</a></h6>
</div>
<div class="page-body">
    {{ content }}
</div>
