---
layout: layouts/default.liquid
---

<div class="page-title">
    <h2>{{ title }}</h2>
    <h6 class="dateline">{{ date | date: '%A, %B %d %Y' }}<a class="permalinkanchor" title="Permalink" href="{{ page.url }}">&emsp;⚓︎</a></h6>
</div>
<div class="page-body">
    {{ content }}

    <div class="post-subscribe">
        <p>Get new posts by email:</p>
        <form
            action="https://buttondown.com/api/emails/embed-subscribe/garrek"
            method="post"
            class="newsletter-form"
        >
            <input type="email" name="email" placeholder="your@email.com" required />
            <button type="submit">Subscribe</button>
        </form>
    </div>
</div>
