/* ----------------------------------------------------------------------- */
/* 						    Font Faces      							   */
/* ----------------------------------------------------------------------- */

@font-face {
    font-family: "Libre-Baskerville";
    font-weight: 400;
    font-style: normal;
    src: local("Libre-Baskerville"), url(/assets/fonts/Libre-Baskerville/LibreBaskerville-Regular.otf) format("opentype");
}
@font-face {
    font-family: "Libre-Baskerville";
    font-weight: 400;
    font-style: italic;
    src: local("Libre-Baskerville"), url(/assets/fonts/Libre-Baskerville/LibreBaskerville-Italic.otf) format("opentype");
}
@font-face {
    font-family: "Libre-Baskerville";
    font-weight: 700;
    font-style: normal;
    src: local("Libre-Baskerville"), url(/assets/fonts/Libre-Baskerville/LibreBaskerville-Bold.otf) format("opentype");
}

@font-face {
    font-family: "Courier Prime";
    font-weight: 400;
    font-style: normal;
    src: local("Courier Prime"), url(/assets/fonts/Courier-Prime/CourierPrime-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Courier Prime";
    font-weight: 400;
    font-style: italic;
    src: local("Courier Prime"), url(/assets/fonts/Courier-Prime/CourierPrime-Italic.ttf) format("truetype");
}
@font-face {
    font-family: "Courier Prime";
    font-weight: 700;
    font-style: normal;
    src: local("Courier Prime"), url(/assets/fonts/Courier-Prime/CourierPrime-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "Courier Prime";
    font-weight: 700;
    font-style: italic;
    src: local("Courier Prime"), url(/assets/fonts/Courier-Prime/CourierPrime-BoldItalic.ttf) format("truetype");
}

/* ----------------------------------------------------------------------- */
/* 						Site Structure									   */
/* ----------------------------------------------------------------------- */

/* Site title */
.site-title {
    font-family: "Libre-Baskerville", "Georgia", "Times New Roman", serif;
    font-size: 1.6em;
    font-weight: 400;
    text-decoration: none;
    display: block;
}

.site-header {
    padding-bottom: 0.8em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Default: mobile layout */
.wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: minmax(0, 1fr);
}

/* Horizontal navigation for smaller screens */
@media (max-width: 640px) {
    nav {
        position: sticky;
        top: 0;
        z-index: 1;
        padding: 0.5em 15px;
        margin-top: -15px;
        margin-left: -15px;
        margin-right: -15px;
        border-bottom: 1px solid;
    }
    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.2em 1em;
        padding: 0;
        margin: 0;
    }
    nav li {
        list-style: none;
        font-family: "Courier Prime", "Courier New", Courier, monospace;
        font-size: 1em;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
    }
    nav a {
        text-decoration: none;
    }
    nav a:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 0.15em;
    }
}

/* For larger screens */
@media (min-width: 640px) {
	.wrapper {
        grid-template-columns: 180px minmax(0, 2fr);
        grid-template-rows: auto auto 1fr auto;
		column-gap: 40px;
		box-sizing: border-box;
        max-width: 800px;
	}
    /* Photo gallery layout should be full width */
    .wrapper.wrapper-photo {
        max-width: none;
	}

    main {
        grid-column: 2;
        grid-row: 2 / 4;
        display: grid;
        grid-template-rows: subgrid;
    }

    .page-title {
        grid-row: 1;
    }

    .page-body {
        grid-row: 2;
    }

    .site-header {
        grid-column: 1 / -1;
        grid-row: 1;
    }

    nav {
        grid-column: 1;
        grid-row: 2 / 4;
        position: sticky;
        top: 4em;
        align-self: start;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: auto;
        margin-left: auto;
        padding: 0;
	}

    footer {
        grid-column: 1 / -1;
        grid-row: 4;
    }
	nav li {
		display: block;
        font-family: "Courier Prime", "Courier New", Courier, monospace;
        font-size: 1.2em;
        line-height: 1.6em;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
		text-align: right;
        list-style: none;
		}
    nav a {
        text-decoration: none;
        }
    nav a:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 0.15em;
    }
}

/* ----------------------------------------------------------------------- */

.permalinkanchor {
	font-family: "Apple Symbols", "Menlo";
	font-size: 1.2em;
    line-height: 1em;
	font-weight: normal;
    font-style: normal;
	text-decoration: none;
}


body {
	font-family: "Libre-Baskerville", "Georgia", "Times New Roman", serif;
	font-size: 1em;
	line-height: 1.6em;
    padding: 15px;
    max-width: 100%;
    margin-left: auto; /* auto on left, right centers the content */
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    overflow-x: hidden;
}

main {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

blockquote {
    font-style: italic;
    width: 85%;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-left: 10px;
    border-left: 2px solid;
}

pre {
    position: relative;
    font-family: Menlo, Monaco, monospace;
    font-size: 1em;
    line-height: 1.6em;
    display: block;
    overflow: auto;
    word-wrap: break-word;
    padding: 1em 1.5em;
    max-width: 100%;
    break-inside: avoid;
    border: 1px solid;
    border-radius: 10px;
}

code {
    font-family: Menlo, Monaco, monospace;
    font-size: 1em;
    line-height: 1.6em;
    background: none;
}


h1, h2, h3, h4, h5, h6 {
	font-family: "Libre-Baskerville", "Georgia", "Times New Roman", serif;
}

h1 {
	font-size: 2em;
	font-weight: 700;
}
h2 {
	font-size: 1.5em;
    line-height: 1.4em;
}
h3 {
	font-size: 1.25em;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

/* Datelines go under article headers */
.dateline {
    font-family: "Libre-Baskerville", "Georgia", "Times New Roman", serif;
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 2em;
}

a {
	text-decoration-thickness: 0.1em;
	text-underline-offset: 0.3em;
}

a:hover {
    text-decoration-thickness: 0.6em;
    text-underline-offset: -5px;
    text-decoration-skip-ink: none;
}

h1 a, h2 a, h3 a {
	text-decoration: none;
}
h1 a:hover, h2 a:hover, h3 a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.5em;
    text-underline-offset: -0.2em;
}

div[role="doc-endnotes"] {
	font-family: "Apple Symbols", Verdana, sans-serif
}

hr {
    position: relative;
    height: 1px;
    width: 100%;
    outline: none;
    border: 0 none;
    background-color: #2090e0;
    margin-top: 4em;
    margin-bottom: 4em;
}

.ref {
    height: 1px;
    width: 20%;
    background-color:#e05a3a;
    border: 0;
    outline: none;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 0;
}


/* ----------------------------------------------------------------------- */
/* 						Figures and Images								   */
/* ----------------------------------------------------------------------- */

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1rem;
    margin-right: 5rem;
}

.running-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2rem;
}
  
.running-table td {
    padding: 0.5rem 1rem;
}


img {
    max-width: 100%;
    height: auto;
}

figure {
    max-width: 100%;
	padding: 5px;
	margin-bottom: 0.5em;
}

figure.right {
	float: right;
	margin-left: 0.5em;
	margin-right: 0;
	margin-top: 0;
	max-width: 40%;
	}
	
figcaption {
	font-family: Helvetica, "Helvetica Neue", Verdana, sans-serif;
	text-align: left;
	font-size: 0.85em;
}

footer {
	margin: 2em 0;
	padding-right: 2em;
	padding-left: 2em;
	display: block;
	text-align: center;
	font-size: 0.8em;
}

/* ----------------------------------------------------------------------- */
/* 						Pagination										   */
/* ----------------------------------------------------------------------- */

.pagination-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
    margin-bottom: 2em;
    font-family: "Courier Prime", "Courier New", Courier, monospace;
}

/* ----------------------------------------------------------------------- */
/* 						Color settings									   */
/* ----------------------------------------------------------------------- */

@media (prefers-color-scheme: dark) {
	* {
		background-color: #15252b;
	}
	body {
		color: #d0d0d0;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #d4795a;
	}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: currentColor;
	}
	
	h1 a:hover, h2 a:hover, h3 a:hover {
        text-decoration-color: #e8734f;
	}

	a {
		color: #d0d0d0;
		text-decoration-color: #2090e0;
	}
	a:hover {
		color: #d0d0d0;
        text-decoration-color: #e8734f;
	}

    blockquote {
        border-color: #2090e0;
    }

    pre {
        background: #b0b0b0;

        color: #000;
        border-color: #555;
    }

	nav a { color: #5aafe6; }
	nav a:hover { color: #e8734f; }
	footer { color: #818181 }
	figcaption { color: #e8e8e8; }

    .permalinkanchor {
		color: #e8e8e8;}

    a.permalinkanchor:hover {
        color:#e8734f;
    }

    .dateline{
        color:#e8e8e8;
    }
    .footnote {
        color: #2090e0;
    }
}

@media (prefers-color-scheme: light) {
	* { background-color: #ffffff; }
	body { color: #202020; }
	h1 { color: #000; }
	h2 { color: #000; }
	h3 { color: #4c4c4c; }
	h4 { color: #3b3b3b; }
	
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: currentColor;
	}

	a {
		color: #202020;
		text-decoration-color: #2090e0;
    }

	a:hover {
		color: #202020;
		text-decoration-color: #e05a3a;
	}

    h1 a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h6 a:hover {
        text-decoration-color: #e05a3a;
	}

    blockquote {
        border-color: #2090e0;
    }
    
	nav { color: #1478d4; }
	nav a { color: #1478d4; }
	nav a:hover {
		color: #e05a3a;
		text-decoration-color: #e05a3a;
	}

    pre {
        background: #f8f9fa;
        color: #15252b;
        border-color: #ddd;
    }

	footer { color: #818181 }

	figcaption{color: #555;}
	
	.permalinkanchor {
		color: #1478d4;}

    a.permalinkanchor:hover {
        color:#e05a3a
    }
	
    .dateline{
        color:#434343;
    }
    .footnote {
        color: #1478d4;
    }
}
