<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Garrek.org</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
    {% include head.html %}
</head>
<body class="wrapper">
{% include header.html %}
{% include navigation.html %}

<main>

    <h2>{{ page.title }}</h2>
    <h6 class="dateline">{{ page.date | date: '%A, %B %d %Y ' }}<a class="permalinkanchor" title="Permalink" href="{{ page.url }}">&emsp;⚓︎</a></h6>
    
    {{ content }}
    
</main>

{% include footer.html %}