---
layout: layouts/gallery.liquid
title: Photography
permalink: /photography/
---

<div class="page-title">
<h2>Photography</h2>
</div>
<div class="page-body">
<div class="photo-grid">
    {% for photo in collections.photos %}
    <img src="{{ photo }}" alt="Photo">
    {% endfor %}
</div>
</div>
